services:
  database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: eduschedule-sql
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=EduSchedule@2026_Strong!
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    volumes:
      - sql-data:/var/opt/mssql

volumes:
  sql-data:
    driver: local